# Postgres credentials 


DB_NAME='your database name'
DB_USER='your username'
DB_PASSWORD='your password' 

STRIPE_SECRET_KEY = 'your stripe details starting with sdk'

CLOUDINARY_URL = cloudinary://<api_key>:<api_secret>@<cloud_name>

